.jumbotron {
	background-color: teal;
	height: 25em;
}

.navbar-static-top {
	margin-top: 20em;
}

.navbar-header {
	background-color: teal;
}

.navbar-collapse {
	background-color: teal;
}

.navbar-nav{
	float: right;
}

a {
	color: white;
}

.row {
    position: relative;
}

.bottom-align-text {
	color: teal;
	position: absolute;
	bottom: 0;
	right: 0;
}

.row.vertical-divider {
  overflow: hidden;
}
.row.vertical-divider > div[class^="col-"] {
  text-align: center;
  padding-bottom: 100px;
  margin-bottom: -100px;
  border-left: 3px solid #F2F7F9;
  border-right: 3px solid #F2F7F9;
}
.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}